.custom-bullet-list > li {
    list-style: none;
    margin-left: -25px;
}

.custom-bullet-point {
    list-style: none;
    margin-left: -15px;
}

.underline {
    text-decoration: underline;
}

/* Give untyped <box> elements Bootstrap's bg-light background. */
.alert.box-container.alert-default {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}

