.website-content {
    margin: 12px auto 40px auto;
    max-width: 800px;
    overflow: hidden;
    text-align:justify
}

.website-content > div {
    margin-top: 4px;
}

.panel-seamless {
    padding-left: 10px;
}

.indented {
    padding-left: 20px;
}

.indented-less {
    padding-left: 10px;
}

mark {
    background-color: rgba(255, 255, 0, 0.38);
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.important {
    color: #980000;
}

.radio-list-input, .task-list-item-checkbox {
    margin-right: 10px!important;
}

.block-embed {
    text-align: center;
}

.closeable-show {
    padding: 4px;
}

.image-container {
    display:flex;
    justify-content: center;
    align-items:center;
}

@media print {
    .website-content {
        max-width: 100%;
    }
}