.website-content {
    margin: 12px auto 40px auto;
    max-width: 70%;
    overflow: hidden;
    text-align:justify
}

.website-content > div {
    margin-top: 4px;
}

mark {
    background-color: yellow;
}

.important {
    color: #980000;
}

.question-wrapper .radio-list,
.question-wrapper .task-list {
    list-style: none;
    padding-left:0;
}

.radio-list-input, .task-list-item-checkbox {
    margin-right: 10px!important;
}

.block-embed {
    text-align: center;
}

.closeable-show {
    padding: 4px;
}

.image-container {
    display:flex;
    justify-content: center;
    align-items:center;
}

@media print {
    .website-content {
        max-width: 100%;
    }
}