{% macro show_git_tabs(filename_suffix='') -%}
<tabs>
  <tab header="Sourcetree">
    <include src="./sourcetree{{ filename_suffix }}.md" />
  </tab>
  <tab header="CLI">
    <include src="./cli{{ filename_suffix }}.md" />
  </tab>
</tabs>
{%- endmacro %}
